node_modules/
vendor/

# Ignore Sublime Project Files
*.sublime*

# Ignore Hidden OS Filesystem Info
*.DS_Store

# Ignore Sass Cache
*sass-cache*

# Windows related files
ehthumbs.db
Thumbs.db

# Some more node related ignores
*.TMP
*.tmp
*.dmp
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log